<h2>About Counting From Zero</h2>

<p>The Counting From Zero website was designed to harness the community power of coding for those who are just getting started. Ask a question, find a mentor, and get started.</p>

{{#link-to 'index'}}Back Home{{/link-to}}
{{#link-to 'contact'}}Contact Us{{/link-to}}
