
<h3>Ask a good question, get a good answer.</h3>

<ul>
  {{#each model as |question|}}
     {{question-tile question=question}}
  {{/each}}
</ul>

{{new-question saveQuestion2="saveQuestion3"}}

{{#link-to 'about'}}About Us{{/link-to}}
{{#link-to 'contact'}}Contact Us{{/link-to}}
