<h1>Counting From Zero</h1>

<p>Ask a good question, get a good answer.</p>

<ul>
  {{#each model as |question|}}
     {{question-tile question=question destroyQuestion="destroyQuestion"}}
  {{/each}}
</ul>

{{#link-to 'about'}}About Us{{/link-to}}
{{#link-to 'contact'}}Contact Us{{/link-to}}
